# dependencies
node_modules/

# build
dist/
build/

# types
*.d.ts
*.d.ts.map

# logs
log/
logs/
*.log
npm-debug.log*

# databases
data/
*.db
*.db-journal
*.db-wal

# test
coverage/

# OS files
.DS_Store
Thumbs.db
